<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!--
        Please report vulnerabilities to adam.n.perry@gmail.com.
    -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>rfcbot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//writ.cmcenroe.me/1.0.4/writ.min.css">
    <link rel="author" href="humans.txt" />
  </head>
  <body>
    <div class="container" style="margin-left:5em">
    <h2 id="title">rfcbot</h2>

      {{content}}

    </div>
  </body>
</html>
