<a class="github-fork-ribbon left-top" href="https://github.com/dikaiosune/rust-dashboard" title="Fork me on GitHub">Fork me on GitHub</a>

<nav class="container">

    <h2 id="title">Rust Language Project Metrics</h2>

    {{#link-to 'summary'}}Home{{/link-to}}
    &bull;
    {{#link-to 'fcp'}}FCPs{{/link-to}}
</nav>

<div class="container">

    {{outlet}}

</div>
