<a class="github-fork-ribbon left-top" href="https://github.com/dikaiosune/rust-dashboard" title="Fork me on GitHub">Fork me on GitHub</a> 

<nav class="container">
    <h2 id="title">Rust Language Project Metrics</h2>
    
    {{#link-to 'summary'}}Home{{/link-to}}
    &bull;
    {{#link-to 'fcp'}}FCPs{{/link-to}}
    &bull;
    {{#link-to 'releases'}}Nightlies{{/link-to}}
    &bull;
    {{#link-to 'issues'}}Issues{{/link-to}}
    &bull;
    {{#link-to 'prs'}}Pull Requests{{/link-to}}
    &bull;
    {{#link-to 'hot-issues'}}"Hot" Issues{{/link-to}}
    &bull;
    {{#link-to 'buildbots'}}Buildbots{{/link-to}}
    &bull;
    {{#link-to 'triage'}}Triage{{/link-to}}
    &bull;
    {{#link-to 'links'}}Useful Links{{/link-to}}
</nav>

<div class="container">

    {{outlet}}

</div>
