{{outlet}}

<h3>Team Members:</h3>

<div class="container">
    {{#groups-of
            tagName="div"
            groupsOf=2
            groupTag="div"
            groupClass="row"
            items=model.users
            as |u isFirst isLast|
        }}
        <div class="six columns">
          {{#link-to "fcp_user" u}}
            <img style="width:50px; height: auto" src="https://avatars.githubusercontent.com/{{u}}" />
          {{/link-to}}

          {{#link-to "fcp_user" u}}
            <strong>{{u}}</strong>
          {{/link-to}}
        </div>
      {{/groups-of}}
</div>
