{{outlet}}

<h5>
<ul>

    <li><a href="http://perf.rust-lang.org/" target="_blank">Compiler Benchmarks</a></li>
    <li><a href="http://killercup.github.io/bitrust/" target="_blank">Breaking Changes in Rust</a></li>
    <li><a href="https://users.rust-lang.org/about" target="_blank">users.rust-lang.org stats</a></li>
    <li><a href="https://internals.rust-lang.org/about" target="_blank">internals.rust-lang.org stats</a></li>
    <li><a href="http://redditmetrics.com/r/rust" target="_blank">/r/rust stats</a></li>
    <li><a href="https://github.com/pulls?q=is%3Aopen+is%3Apr+org%3Arust-lang+org%3Arust-lang-nursery+org%3Arust-deprecated+sort%3Aupdated-asc">
      Least-recently updated pull requests across orgs
    </a></li>
    <li><a href="https://github.com/issues?q=is%3Aopen+is%3Aissue+org%3Arust-lang+org%3Arust-lang-nursery+org%3Arust-deprecated+sort%3Aupdated-asc">
      Least-recently updated issues across orgs
    </a></li>

</ul>
</h5>
