{{outlet}}

<h5>
<ul>

    <li><a href="http://perf.rust-lang.org/" target="_blank">Compiler Benchmarks</a></li>
    <li><a href="http://benchmarksgame.alioth.debian.org/u64q/rust.html" target="_blank">Rust @ Benchmarks Game</a></li>
    <li><a href="http://killercup.github.io/bitrust/" target="_blank">Breaking Changes in Rust</a></li>
    <li><a href="https://users.rust-lang.org/about" target="_blank">users.rust-lang.org stats</a></li>
    <li><a href="https://internals.rust-lang.org/about" target="_blank">internals.rust-lang.org stats</a></li>
    <li><a href="http://redditmetrics.com/r/rust" target="_blank">/r/rust stats</a></li>

</ul>
</h5>
