{{outlet}}

<h3>Naggable Team Members:</h3>

<table>
    {{#each model.users as |u|}}
    <tr>
        <td>
            {{#link-to "nag_user" u}}
            <img style="width:50px; height: auto" src="https://avatars.githubusercontent.com/{{u}}"/>
            {{/link-to}}
        </td>
        <td>
            {{#link-to "nag_user" u}}
            <strong>{{u}}</strong>
            {{/link-to}}
        </td>

    </tr>
    {{/each}}
</table>
