[Unit]
Description=API Server for the Rust project metrics dashboard
Documentation=https://github.com/dikaiosune/rust-dashboard
After=postgresql.service nginx.service

[Service]
EnvironmentFile=/etc/rust-dashboard/env
ExecStart=/usr/bin/rust-dashboard
Restart=always

[Install]
WantedBy=multi-user.target
