DATABASE_URL=postgres://localhost/dashboard
DATABASE_POOL_SIZE=50
GITHUB_ACCESS_TOKEN=foo
GITHUB_USER_AGENT=bar
RUST_LOG=debug,hyper=info
GITHUB_SCRAPE_INTERVAL=10
RELEASES_SCRAPE_INTERVAL=720
BUILDBOT_SCRAPE_INTERVAL=80
SERVER_PORT=8080
POST_COMMENTS=true
