.github-search-link {
    border-radius: 5%;
    background: #1EAEDB;
    color: white;
    padding: 5px 8px 5px 10px;
    margin-right: 8px;
    text-decoration: none;
}

.release-square {
    float: left;
    position: relative;
    width: 2.8%;
    padding-bottom: 2.8%;
    margin: 0.2%;
    overflow: hidden;
}
