.github-search-link {
    border-radius: 5%;
    background: #1EAEDB;
    color: white;
    padding: 5px 8px 5px 10px;
    margin-right: 8px;
    text-decoration: none;
}

.release-square {
    float: left;
    position: relative;
    width: 2.8%;
    padding-bottom: 2.8%;
    margin: 0.2%;
    overflow: hidden;
}

nav {
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    
    background: white;
    z-index: 1000;
    
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

nav h4 {
    margin-bottom: 0px;
}

#title{
    margin-bottom: 0px;
}

div.container {
    margin-top: 150px;
}

@media all and (max-width: 680px) {
    nav {
        position: unset !important;
    }
    
    div.container {
        margin-top: 0px;
    }
}
